.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  width: 280px;
}

.top-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.views {
  font-size: 36px;
  font-weight: bold;
  color: #33475b;
  text-align: center;
}

.label {
  font-size: 14px;
  color: #8898aa;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #33475b;
  margin-top: 5px;
  text-align: center;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 5px;
}

.percentage {
  font-size: 24px;
  font-weight: bold;
  color: #33475b;
}